<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Cocoa Maturity</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="https://raw.githubusercontent.com/slavensaka/FirstSchoolProjects/master/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="https://gist.githubusercontent.com/shannonmoeller/409c18f6a07c2d2c0ce5/raw/7a972145adaa752d35e4cae5685aee21c98251bb/sprinkle.js"></script>
<script>
	function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
<style>
img{
  max-width:180px;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}
</style>
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Cocoa maturity classifier</h1>
     <a href = "/"> Home </a> <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" enctype="multipart/form-data">
        
        <!--
        <input type="text" name="RM" placeholder="Red Mean" required="required" />
        <input type="text" name="GM" placeholder="Green mean" required="required" />
		<input type="text" name="BM" placeholder="blue mean" required="required" />
        <input type="text" name="RS" placeholder="red dev" required="required" />
        <input type="text" name="GS" placeholder="green dev" required="required" />
		<input type="text" name="BS" placeholder="blue dev" required="required" />
        -->

        <input type="file" name="file" onchange="readURL(this);" required="required"/>
	<img id="blah" src="https://placehold.it/180" alt="your image" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Process image</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
